@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

#modalAdd {
    /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 80px;
  border: 0;
  border-radius: 15px; */

    h1 {
        font-size: 45px;
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        width: 350px;

        input,
        select {
            border: 1px solid #000;
            border-radius: 10px;
            padding: 12px 20px;
            outline-color: #007FFF;
            font-size: 18px;
        }

        input {
            white-space: wrap;
        }

        button {
            padding: 12px 20px;
            border: 0;
            border-radius: 10px;
            background-color: #007FFF;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            transition: .3s ease;
            cursor: pointer;
        }

        button:hover {
            scale: 1.03;
            background-color: #0065ca;
        }

        button:active {
            scale: 1;
            background-color: #007FFF;
        }

        /* .deleteTask {
          background-color: #E70000;
      }
      .deleteTask:hover {
          background-color: #a70000;
      }
      .deleteTask:active {
          background-color: #E70000;
      } */
    }
}

.crossAdd {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@keyframes fade {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

.fade {
    animation: fade .5s ease;
}